<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="client.js"></script>
  </head>
  <body ng-app="app">
    <section id="chat" ng-controller="ChatCtrl">
      <div ng-repeat="message in messages">
        {{ message.text }}
      </div>

      <hr />

      <form id="new-message" ng-submit="postMessage()">
        <input ng-model="newMessage" type="text" />
        <input type="submit" value="Send">
      </form>
    </section>
  </body>
</html>
